#footer {
    margin-top: 100px;
}

#footer > div {
    background: lightgray;
}

.footerinfo {
    padding-left: 150px;
}

#loginForm {
    margin-top: 20px;
    padding-left: 36%;
    padding-right: 36%;
}

#searchResultTitle {
    margin-left: 10%;

}

#errorBox {
    margin-top: 50px;
    margin-left: 40%;
    margin-right: 40%;
}
